*{
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.mensaje{
    text-align: center;
    margin-top: 12px;
    color: #e72a2a;
}


.contenedor{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.vista{
    display: flex;
    flex-direction: row;
}

.video{
    width: 60%;
    background-image: url('../style/portada.png');
    background-size: cover;
    background-position: center;
}

.registro{
    margin: 1%;
    width: 40%;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
}

.titulo{
    color: #045CAC;
    font-size: 52px;
    text-align: center;
    margin-bottom: 27px;
}

form{
    margin-top: 10%;
    /*background-color:#04AC4C ;*/
    padding: 15px 30px 15px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

/* ESTILOS DE CAMPO TEXTO */
input[type = "text"]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #045CAC;
    padding: 5px;
    color: #000;
    font-size: 15px;
    width: 55%;
    height: 4.8vh;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
}

input[type="text"]::placeholder {
    color: gray;
}

input[type="text"]:hover::placeholder {
    color: rgba(128, 128, 128, 0.36);
}

/* ESTILOS DE CAMPO mail */
input[type = "email"]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #045CAC;
    padding: 5px;
    color: #000;
    font-size: 15px;
    width: 55%;
    height: 4.8vh;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
}

input[type="email"]::placeholder {
    color: gray;
}

input[type="email"]:hover::placeholder {
    color: rgba(128, 128, 128, 0.36);
}

/* ESTILOS DE CAMPO passwd */
input[type = "password"]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #045CAC;
    padding: 5px;
    color: #000;
    font-size: 15px;
    width: 55%;
    height: 4.8vh;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
}

input[type="password"]::placeholder {
    color: gray;
}

input[type="password"]:hover::placeholder {
    color: rgba(128, 128, 128, 0.36);
}


/* ESTILOS DE CAMPO submit */

input[type="submit"]{
    margin-top: 25px;
    background-color: #04AC4C;
    border: none;
    padding: 12px 50px 12px 50px;
    color: white;
    border-radius: 1vw;
    width: 45%;
    font-size: 15px;
    cursor: pointer; /* Cambiar el cursor a una mano */
    transition: background-color 0.3s;
    text-align: center;
}

input[type="submit"]:hover{
    background-color: #029642;
}

