*{
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.portada{
    width: 100%;
    background-color: #045CAC;
    height: 80px;
    margin-bottom: 20px;
}

.perfil h2{
    color: white;
    font-size: 26px;
}

.administracion{
    height: 100%;
    background-color: aqua;
}

h2{
    color: black;
}